.container{
 padding: 10px ;
}

@media only screen and (max-width: 425px) {
    input{
        width: 100%;
        margin: 10px 0;
        padding: 5px 10px;
    }
    .form button{
        width: 100%;
    }

}
@media only screen and (min-width: 426px) {
   .form{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
   }
    input{
        width: 30%;
        padding: 0 10px;
    }
    .form button{
        width: 30%;
    }

}