.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    line-height: 2;

    .title {
        display: flex;
        justify-content: space-between;

    }
}

@media only screen and (max-width: 375px) {
    .title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 12px;
    }

    .action {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

}

@media only screen and (min-width: 375px) {
    .card {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .title{
        width: 70%;
    }
    .action{
        display: flex;
        justify-content: center;
        width: 50%;
    }

}